{% extends 'base.html' %}


{% block head %}
<title>Home</title>
<style>
  body {
    background: #dae0e6 !important;
    margin-top: 75px !important;
  }
</style>
{% endblock %}


{% block body %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light style=" style="background-color: #fff !important;">
  <div class="container">
    <a class="navbar-brand" href="/">RedditClone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="mx-2 my-auto d-incline w-100" style="margin-left: 100px !important; margin-right: 100px !important;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item btn btn-outline-primary mx-2" href="/login">Login</a>
        <a class="nav-item btn btn-primary" href="/signup">Signup</a>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <strong>
            <button class="btn btn-light btn-sm">
              <i class="fas fa-solid fa-arrow-up"></i>
            </button>
            9.8k
            <button class="btn btn-light btn-sm">
              <i class="fas fa-arrow-down"></i>
            </button>
          </strong> r/Flask - <span class="text-muted" style="font-size: 10pt;">Posted by u/CodingKaitlin 3 hours ago</span>
        </div>

        <div class="card-body">
          <h5 class="card-title">Make a Reddit Clone with Kaitlin & Jake!</h5>
          <p class="card-text">This is the post contents</p>
        </div>

        <div class="card-footer text-muted">
          <a href="" class="btn btn-light btn-sm"><i class="fas fa-comment"></i> 0 Comments</a>
          <a href="" class="btn btn-light btn-sm"><i class="fas fa-share"></i> Share</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">r/Popular</h5>
            <p class="card-text">More card text!!!</p>
            <a href="/" class="btn btn-primary btn-block">Create Post</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
